body { 
  margin: 0; 
  padding: 10px;
}

.root-layout { 
  background-color: beige;
}

.tutorial-layout { 
  background-color: lightblue;
}

.sveltekit-layout { 
  background-color :rgb(30, 210, 39);
}


.tutorial-topic { 
  background-color :white;
  padding-top: 20px;
  border: 1px solid black;
}

.h4-url { 
  color: blue;
}